@font-face {
    font-family: font;
    src: url(../fonts/Cairo-VariableFont_slnt,wght.ttf);
}

:root {
    --mini-black: #247b7b;
    --beuty-white: #242424;
    --beuty-blue: #50acac;
    --body-bc: #c1c4c7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    font-family: font;
    background-color: var(--body-bc);
    color: var(--beuty-white);
}

body.dark {
    --mini-black: #1e2227;
    --beuty-white: #eaf0f2;
    --beuty-blue: #363f4a;
    --body-bc: #23272e;
    font-family: font;
    background-color: var(--body-bc);
    color: var(--beuty-white);
}

::-webkit-scrollbar {
    display: block;
}

::-webkit-scrollbar-track {
    background-color: var(--beuty-blue);
}

::-webkit-scrollbar-thumb {
    background-color: var(--mini-black);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--body-bc);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--mini-black);
    /* background-color: #223; */
    padding: 0px 150px;
    user-select: none;
    position: relative;
}


.dark-mode-toggle {
    transition: 0.5s;
    font-size: 1.5em;
    text-align: center;
    color: var(--beuty-white);
}


.dark-mode-toggle i {
    cursor: pointer;
    transition: 1s;
}

.dark-mode-toggle i:hover {
    color: #999;
    text-shadow: 0 0 5px #777, 0 0 10px #777;
}

.dark .dark-mode-toggle i:hover {
    color: rgb(255, 252, 102);
    text-shadow: 0 0 5px rgb(255, 242, 10), 0 0 10px rgb(255, 242, 10);
}

.header .logo {
    font-size: 2em;
    transition: 1s;
    padding: 5px 0 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo .a {
    color: var(--beuty-white);
    transition: 0.3s;
}


.header .logo .four {
    color: var(--beuty-blue);
    transform: translate(-21%, 4px) rotate(-48deg);
    transition: 0.3s;
    height: 60px;
}

.header:hover .logo .a {
    color: var(--beuty-blue);
}

.header:hover .logo .four {
    color: var(--beuty-white);
}



.header.logo:hover .a {
    color: var(--beuty-blue);
}

.header .logo:hover .four {
    color: var(--beuty-white);
}

.header .logo:hover {
    transform: rotate(360deg);
    transform-origin: center center;
}


.header .con {
    padding: 10px 20px 10px 7px;
    border-radius: 3px;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    color: var(--beuty-white);
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .con img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

.header .con.active {
    background-color: var(--beuty-blue);
}

.header .con span {
    padding: 5px 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .con i {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    transition: 0.4s;
    font-size: 0.7em;

}

.header .con:hover i,
.header .con.active i {
    top: 60%;
}

.header .con ul {
    display: none;
}

.header .con.active ul {
    position: absolute;
    top: 90%;
    left: 0;
    display: block;
    background-color: var(--beuty-blue);
    width: 130px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 100;
    margin-top: 15px;
    font-size: 0.9em;
}

.header .con.active ul li {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.header .con.active ul li a {
    padding: 10px 0px 10px 20px;
    display: block;
    text-decoration: none;
    color: var(--beuty-white);
    width: 100%;
    height: 100%;
    transition: 0.5s;
}


.header .con.active ul li:hover a {
    background-color: var(--body-bc);
    padding: 10px 25px;
}

.container {
    margin: 50px auto;
    padding: 50px 50px 70px;
    background-color: var(--beuty-blue);
    text-align: center;
    border-radius: 5px;
    max-width: 1000px;
    position: relative;
}

.container.profile {
    width: 1000px;
}

.container h3 {
    text-align: center;
    padding: 10px 20px 10px;
    font-size: 3em;
    user-select: none;
    color: var(--beuty-white);
    letter-spacing: 4px;
    transition: 0.3s;
}

.container:hover h3 {
    letter-spacing: 7px;
}

.container table {
    min-width: 900px;
    width: 100%;
    border-spacing: 0;
    margin: auto;
    color: var(--beuty-white);
}

.container thead td {
    background-color: var(--beuty-blue);
    font-weight: bold;
    /* border: 1px solid var(--beuty-white); */
}

.container table td {
    padding: 15px;
    font-size: 1.2em;
}

.container table tr td:nth-child(1) {
    width: 50px;
}

.container table tr td:nth-child(2) {
    padding: 20px 15px 10px;
    text-align: center;
    width: 50px;
}

.container table tr td:nth-child(3) {
    padding: 20px 15px 10px;
    text-align: center;
    width: 50px;
}

.container thead td {
    border-top: 1px solid var(--beuty-white);
}

.container thead td,
.container tbody td {
    border-bottom: 1px solid var(--beuty-white);
    border-left: 1px solid var(--beuty-white);
    transition: 0.3s;
}

.container table thead tr td:last-child,
.container table tbody tr td:last-child {
    border-right: 1px solid var(--beuty-white);
}

.container tbody tr:hover td {
    background-color: var(--body-bc);
}

.container table img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
    background-color: #fff;
}

.container table td a {
    display: inline-block;
    /* background-color: var(--number-bc-color); */
    background-image: linear-gradient(60deg, var(--number-bc-color), var(--mini-black));
    border-radius: 5px;
    padding: 0px 15px 3px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: auto;
    user-select: none;
}

.container table td a.cannot {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.container table a.can:hover {
    box-shadow: 0 0 3px var(--mini-black), 3px 3px 8px var(--mini-black);
    transform: translate(-3px, -3px);
}

.container .data-con {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 100px;
    margin-top: 50px;
}

.container .data-con .imgAndBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    user-select: none;
}

.container .data-con .imgAndBtns .btns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.container .data-con .imgAndBtns .btns a {
    display: inline-block;
    /* background-color: var(--number-bc-color); */
    background-image: linear-gradient(60deg, var(--number-bc-color), var(--mini-black));
    border-radius: 5px;
    padding: 3px 15px 3px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: auto;
}

.container .data-con .imgAndBtns .btns a.cannot {
    display: none;
}

.container .data-con .imgAndBtns .btns a.can:hover {
    box-shadow: 0 0 3px var(--mini-black), 3px 3px 8px var(--mini-black);
    transform: translate(-3px, -3px);
}

.container .data-con .img {
    border-radius: 20px;
    overflow: hidden;
    width: 250px;
    height: 250px;
    box-shadow: -10px 10px 5px var(--mini-black), -10px -10px 5px var(--beuty-white);
}

.container .data-con .img img {
    width: 100%;
    height: 100%;
}

.container .data-con .data {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}


.container .data-con .data h4 {
    font-size: 3em;
    font-weight: 600;
    margin: 0px auto 20px;
    letter-spacing: 0.5px;
    color: transparent;
    -webkit-text-stroke: var(--beuty-white) 2px;
}



.container .data-con .data span,
.container .data-con .data .role {
    font-size: 1.1em;
    padding-left: 10px;
    background-image: linear-gradient(90deg, var(--mini-black), var(--beuty-blue));
    border-radius: 7px;
}

.container .data-con .data ul {
    font-size: 1.2em;
    color: rgb(73, 197, 97);
    line-height: 1.5;
    border-radius: 10px;
    padding: 10px;
    background-image: linear-gradient(90deg, rgb(14, 48, 21), var(--beuty-blue));

}

.container .data-con .data ul li {
    text-align: left;
    margin-left: 50px;
    position: relative;
}

.container .data-con .data ul li.hide {
    display: none;
}

.container .data-con .data ul li::before {
    content: "->";
    position: absolute;
    top: 0;
    transform: translateY(-2px);
    left: -20px;
    color: rgb(151, 255, 172);
    letter-spacing: -4px;
    font-weight: 600;
}

.deleting-dialog {
    background-color: #00000088;
    z-index: 1000;
    border-radius: 5px;
    transition: 0.5s;
    margin: 80px;
}


.deleting-dialog .deleting-dialog-cont {
    width: fit-content;
    height: fit-content;
    background-color: var(--beuty-blue);
    z-index: 1000;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2), 0px 0px 10px rgba(255, 255, 255, 0.2), 0px 0px 25px rgba(255, 255, 255, 0.2), 0px 0px 35px rgba(255, 255, 255, 0.2), 0px 0px 45px rgba(255, 255, 255, 0.2); */
    box-shadow: 0px 0px 5px var(--mini-black), 0px 0px 10px var(--mini-black), 0px 0px 25px var(--mini-black), 0px 0px 35px var(--mini-black), 0px 0px 45px var(--mini-black);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.deleting-dialog .deleting-dialog-cont span {
    color: rgb(201, 38, 38);
    font-size: 1.2em;
    font-weight: 600;
}

.deleting-dialog .deleting-dialog-cont .btns {
    display: flex;
    gap: 20px;
}

.deleting-dialog .deleting-dialog-cont button {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px 3px;
    color: var(--beuty-white);
    font-size: 1.1em;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.deleting-dialog .deleting-dialog-cont button:hover {
    box-shadow: 0 0 3px var(--mini-black), 3px 3px 8px var(--mini-black);
    transform: translate(-3px, -3px);
}

.deleting-dialog .deleting-dialog-cont button:nth-child(1) {
    background-image: linear-gradient(60deg, rgb(201, 38, 38), var(--mini-black));
    color: var(--beuty-white);
}

.deleting-dialog .deleting-dialog-cont button:nth-child(2) {
    background-color: var(--mini-black);
    color: var(--beuty-white);
}

.footer {
    background-color: var(--mini-black);
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
}

.footer .created {
    position: relative;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 10px 0;
    color: var(--beuty-white);
    /* width: fit-content; */
    font-size: 1.2em;
}

.footer .created span:nth-child(2) {
    color: var(--beuty-white);
}

.footer .created i {
    color: var(--beuty-blue);
}

.footer .created::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: var(--beuty-blue);
    bottom: 0px;
    transition: 0.5s;
    left: -1px;
    transform: translateX(-120%);
}

.footer .created:hover {
    filter: blur(0.5px);
}

.footer .created:hover::before {
    transform: translateX(0%);
}

.footer .contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .contact a {
    color: transparent;
}

.footer .contact i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.5em;
    transition: 0.2s;
    color: #aaa;
    background-color: var(--beuty-blue);
}

.footer .contact i:hover {
    color: #fff;
    background-color: var(--bc-color);
    transform: translateY(-3px) scale(1.1);
    /* box-shadow: 2px 2px 3px var(--beuty-blue); */
    box-shadow: 2px 2px 3px #999;
}