@media (max-width: 1040px) {
    .container.profile {
        width: fit-content;
    }
}

@media (max-width: 992px) {
    ::-webkit-scrollbar {
        width: 15px;
    }

    .header {
        padding: 0px 50px;
    }

    .header .con.active ul {
        font-size: 0.71em;
    }

    .container {
        margin: 50px 50px;
    }

    form {
        min-width: 0px !important;
    }

    form .togglePage {
        font-size: 1.1em;
    }

    .container .data-con {
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
    }

    .container .data-con .imgAndBtns .btns {
        /* flex-direction: column; */
        font-size: 0.9em;
    }

    .footer {
        padding: 20px 100px;
    }
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    .header {
        padding: 0px 50px;
        justify-content: space-between;
    }

    .header .con.active ul {
        left: -30px;
    }

    .container {
        margin: 30px;
    }

    .container h3 {
        margin-top: 40px;
        font-size: 2.5em;
    }

    .container table td {
        font-size: 1.1em;
    }

    form .togglePage {
        font-size: 1em;
    }

    .searchCon form input[type="submit"] {
        font-size: 1em;
        padding: 11px;
    }

    .container .search {
        top: 118px !important;
    }

    .deleting-dialog {
        margin: 50px;
    }

    .footer {
        padding: 10px 0 30px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

@media (max-width: 567px) {
    ::-webkit-scrollbar {
        width: 5px;
    }

    .header {
        padding: 0px 20px;
    }

    .container {
        margin: 15px;
    }

    .container.profile {
        padding: 20px;
    }

    .container h3 {
        margin-top: 50px;
        padding: 10px 20px 20px;
        font-size: 2em;
    }

    .deleting-dialog {
        margin: 50px;
    }

    .container.profile h3 {
        font-size: 1.5em;
    }

    .container.profile:hover h3 {
        letter-spacing: 1px;
    }

    .container table td {
        font-size: 1em;
    }

    form .togglePage {
        font-size: 0.9em;
    }

    .searchCon form {
        flex-direction: column !important;
        width: 100% !important;
    }

    .searchCon form input[type="text"] {
        font-size: 1em;
        width: 100% !important;
    }

    .searchCon form input[type="submit"] {
        font-size: 0.9em;
        padding: 12px;
        width: 50% !important;
    }

    .container .search {
        top: 120px !important;
    }

    .footer {
        font-size: 0.9em;
    }
}